<div class="grid">
  <div class="col-12">
    <p-card header="Desempeño">
      <hr />
      <div class="flex flex-wrap">
        <div class="card-flex">
          <h4>Año corrido</h4>
          43%
        </div>
        <div class="card-flex">
          <h4>Últimos 12 Meses</h4>
          43%
        </div>
        <div class="card-flex">
          <h4>Último Mes</h4>
          43%
        </div>
        <div class="card-flex">
          <h4>Retorno Total</h4>
          43%
        </div>
      </div>
    </p-card>
  </div>
</div>

<div class="grid">
  <div class="col-6">
    <p-card header="Información General"> <hr> Content </p-card>
  </div>
  <div class="col-6">
    <p-card header="Estadisticas"> <hr> Content </p-card>
  </div>
</div>